.filled {
    background: black;
    color: white;
}

.empty {
    background: white;
    color: black;
}

.unknown {
    background: #888;
    color: black;
}

.backButton {
    position: fixed;
    top: 0;
    right: 0;
}