.filled {
    background: black;
    color: white;
}

.empty {
    background: white;
    color: black;
}

.unknown {
    background: #888;
    color: black;
}

.backButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
}

.solvedMessage {
    font-size: 500%;
    visibility: hidden;
}

.solved {
    visibility: visible;
}