.library {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.librarySection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1em;
}

.libraryHeader {
    font-size: 200%;
    border-bottom: 1px solid white;
}

.librarySectionEntries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
}

.libraryEntry {
    user-select: none;
    background-color: #88F;
    padding: 1em;

    &:hover {
        background-color: #AAF;
    }
}

.backButton {
    position: fixed;
    top: 0;
    right: 0;
}