.filled {
    background-color: black;
}

.empty {
    background-color: white;
}

.unknown {
    background-color: #FAA;
}

.button {
    margin: 1em;
    position: fixed;
    top: 0;
    left: 0;
}

.backButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
}