.constraints {
    display: flex;
    justify-content: flex-end;
}

.horizontal {
    flex-direction: row;
    height: 64px;
}

.vertical {
    flex-direction: column;
    width: 64px;
}

.satisfied {
    background: #151;
}

.unsatisfied {
    background: #AAA;
}

.violated {
    background: #511;
}
