.constraint {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.satisfied {
    color: #0F0;
}

.unsatisfied {
    color: black;
}

.violated {
    color: red;
}
