.square {
    user-select: none;
    margin: 1px;
}

.empty {
    background: white;
    color: black;
}

.filled {
    background: black;
    color: white;
}

.unknown {
    background: gray;
    color: black;
}
