.square {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 1px;
    font-size: 200%;
}

.empty {
    background: white;
    color: black;
}

.filled {
    background: black;
    color: white;
}

.unknown {
    background: gray;
    color: black;
}
