.outer {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    width: 64px;
    height: 64px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    width: 60px;
    height: 60px;
}

.empty {
    background: white;
    color: #111;
}

.filled {
    background: black;
    color: white;
}

.unknown {
    background: gray;
    color: black;
}
